object Endpoint "{{ hostvars[item]['mon_fqdn'] }}" {
  host = "{{ hostvars[item]['mon_fqdn'] }}"
  port = "{{ hostvars[item]['mon_icinga_listen_port'] }}"
}
object Zone "{{ hostvars[item]['mon_fqdn'] }}" {
  endpoints = [ "{{ hostvars[item]['mon_fqdn'] }}" ]
  parent = "master"
}
