object Zone "global-templates" {
  global = true
}
object Zone "director-global" {
  global = true
}
object Zone "master" {
    // The "master" zone
    endpoints = [{% for host in groups['mon_server'] %}
{% if hostvars[host]['mon_fqdn'] is defined %}
"{{ hostvars[host]['mon_fqdn'] }}"{% if not loop.last %},{% endif %}
{% else %}
"{{ hostvars[host]['ansible_fqdn'] }}"{% if not loop.last %},{% endif %}
{% endif %}
{% endfor %}
]
}
